:root {
	--primary-text-color: #fff;
	--primary-background-color: #121314;

	--secondary-text-color: #ffffffb5;
	--secondary-background-color: #191a1b;
	
	--third-text-color: #41b782;

	--error-text-color: #d30000;
	--warning-text-color: #ccd300;
}